test/rifiuti.dtd

<!ELEMENT recyclebin (filename, record*)>
<!ATTLIST recyclebin
	format	(file | dir) #REQUIRED
	version	NMTOKEN	#REQUIRED
>
<!ELEMENT filename (#PCDATA)>

<!ELEMENT record (path)>
<!ATTLIST record
	index	CDATA	#REQUIRED
	time	CDATA	#REQUIRED
	gone	(true | false | unknown) #REQUIRED
	size	NMTOKEN	#REQUIRED
>
<!ELEMENT path (#PCDATA)>
